.all{
    width:100%;
    background-color:#10172B;
    position:relative;
    top:-26px;
    display: flex;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:30px;
    color:white;
}
.cont{
    padding-top: 30px;
    color:white;
    line-height: 2;
    padding-left:90px ;
    transition: ease-out 0.3s;
}
.cont:hover{
     transform: scale(1.05); 
     color:rgb(153, 96, 11);
    
}
