.home2{
    background-color:#10172B;;
    margin-top: -10px;
    width:100%;
    height:1300px;
}
.h{
  padding: 10px;
  text-align: center;
  color:rgb(226, 111, 11);
  background-color:#10172B;
}
.team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.rcb{
    background-color: rgb(181, 39, 39);
    border-radius: 10px;

}
.rc{
    height:350px;
    width:250px;
    border-radius: 10px;
}
.mi{
    background-color: rgb(95, 88, 193);
    border-radius: 10px;
}
.mum{
    height:350px;
    width:250px;
    border-radius: 10px;
}
.csk{
    background-color: rgb(226, 111, 11);
    border-radius: 10px;
}
.cs{
    height:350px;
    width:250px;
    border-radius: 10px;
}
.ko{
    background-color:rgb(7, 31, 138);
    border-radius: 10px;
}
.kol{
    height:350px;
    width:250px;
    border-radius: 10px;
}
.pbk{
    background-color: rgb(126, 11, 11);
    border-radius: 10px;
}
.pk{
    height:350px;
    width:250px;
    border-radius: 10px;
}
img{
    transition:0.3s ease-out;
}
img:hover{
    transform: scale(1.1);
  }